# id and hash must be obtained when registering the application at https://my.telegram.org/auth
API_ID=12345678
API_HASH=23009875123daf1b4e00003a0cc23qpo

# variables for the first connection, the connection code will also be sent to the phone, the user bot will work on this number
USER_PHONE=+380912345670
USER_PASSWORD=""

# session hash, will be in the console after the first connection, you need to save it here for repeated connections
TG_SESSION=1AgAOMTQ5LZ33eoO13peErFf8jC26U98OjQrYoy2EsH9tyeZPSCF8wNey5qtr/2k2cMrAKXpQ0y2R+EWly2Pc19qKogwI+CEgC+ev2ZENKRpJV+zKbKIHpx4kNJUR3JWXLfhBV7IyWEDcSFvJTnGYIky9WyVuafWTCLV5aPztaOhVWyvNO2wFRHiNXYECYqhkh2h97NbsfiQFatx3ELCg+44lspvXjB4Li3IVsn9Ej4f5JzT+OIThUclnbhfBttStUh4VeLVYQcjapjbatiBTHv3+zaOI17cB3GR4Y2GnStVC6+JGXccu9XGXpzmo7K0ws+jkPIY=

# ID of the chat to which the processed data will be sent
CHAT_FOR_RESPONSE=-4123456789
